.App {
  text-align: center;
}

body {
  background-color: #61dafb;
  height: 100vh;
  width: 100vw;
}

* {
  box-sizing: border-box;
}

.header {
  width: 100vw;
  margin-bottom: 3rem;
}

.header img {
  width: 40%;
  padding: 1.2rem;
}

/* Pokemon card */
.pokemon-card-container {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 12rem;
  padding: 2rem 7rem;
  margin-bottom: 2rem;
  width: 60%;
  max-width: 60rem;
  background-color: white;
  border-radius: 0.7rem;
  box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
  transition: all 0.5s ease-in-out;
  font-family: "Press Start 2P", cursive;
}

.pokemon-card-container:hover {
  box-shadow: rgba(100, 100, 111, 0.9) 0px 7px 29px 0px;
  background-color: rgb(255, 234, 0);
}

.pokemon-image {
  max-height: 10rem;
}

.pokemon-card-container .right-section h3 {
  flex-direction: column;
  align-items: flex-start;
  background-color: rgba(167, 167, 167, 0.2);
  text-align: left;
  padding: 0.3rem 0.9rem;
  font-size: 0.9rem;
}

/* Pokemon page */
.pokemon-page-container {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
